*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  line-height: 1.5;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  font-family: sans-serif;
  text-align: center;
}
